body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  color: aliceblue;
  text-shadow: 5px 5px 5px black;
}

.titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: smooth .7s;
}

@keyframes smooth {
  0% {
    transform: scale(0.0);
  }

  100% {
    transform: rotate(1.0);

  }
}

h1 {
  font-size: 100px;
  margin: 0;
}

h5 {
  font-size:25px;
  padding-right: 5px;
}

p {
  font-size: 20px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: smooth .7s;
}

@keyframes smooth {
  0% {
    transform: scale(0);
  }

  100% {
    transform: rotate(1.0);

  }
}

.left,
.right,
.mid {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.mid {
  flex-direction: column;
  align-items: center;
  gap: 50px
}

.game {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
}

.box {
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
  background-color: burlywood;
}

.hidden {
  display: none
}

.startButton {
  background-color: black;
  border: 2px solid black;
  border-radius: 10%;
  padding: 2px;
  color: white;
  cursor: crosshair;
}