body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  color: aliceblue;
  text-shadow: 5px 5px 5px black;
  font-family: 'Games', sans-serif;

}

.titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: smooth .7s;
  gap: 20px;
}

@keyframes smooth {
  0% {
    transform: scale(0.0);
  }

  100% {
    transform: rotate(1.0);

  }
}

h1 {
  font-size: 100px;
  margin: 0;
}

h5 {
  font-size: 25px;
  padding-right: 5px;
}

p {
  font-size: 20px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: smooth .7s;
}

@keyframes smooth {
  0% {
    transform: scale(0);
  }

  100% {
    transform: rotate(1.0);

  }
}

.left,
.right,
.mid {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.left,
.right {
  gap: 15px;
}

.mid {
  flex-direction: column;
  align-items: center;
  gap: 30px
}

.game {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  border: 5px solid black;
}

.box {
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
  background-color: burlywood;
}

.hidden {
  display: none
}

.startButton,
.resetGame {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 4px gray;
  width: 100px;
  height: 30px;
}

.startButton:active,
.resetGame:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

h2,
h3,
h4 {
  display: inline-block;
  margin: 0;
  color: rgb(255, 115, 0);
  font-size: 50px;
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;
  text-shadow:
    0 3px 20px red,
    0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}
h4 {
  font-size: 30px;
}
.tie {
  color: whitesmoke;
  animation: none;
}
@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }

  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red,
      0 0 20px orange,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      3px -10px 10px yellow,
      -4px -15px 20px yellow;
  }

  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red,
      0 -5px 10px orange,
      -2px -5px 5px yellow,
      3px -10px 10px yellow,
      -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }

  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red,
      0 -5px 10px orange,
      3px -5px 5px yellow,
      -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5),
      0px -25px 40px rgba(255, 255, 0, 0)
  }

  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red,
      0 0 10px orange,
      0 0 0 yellow,
      0 0 5px yellow,
      -2px -5px 5px yellow,
      4px -10px 10px yellow;
  }
}

.blue {
  color: rgb(0, 85, 255);
  text-shadow:
    0 3px 20px rgb(4, 4, 193),
    0 0 20px rgb(5, 5, 217),
    0 0 10px rgb(0, 94, 255),
    4px -5px 6px rgb(0, 200, 255),
    -4px -10px 10px rgb(0, 170, 255),
    0 -10px 30px rgb(0, 162, 255);
  animation: 2s Blueing infinite alternate linear;
}

@keyframes Blueing {
  0% {
    text-shadow: 0 3px 20px rgb(34, 0, 255), 0 0 20px rgb(17, 0, 255),
      0 0 10px rgb(0, 94, 255),
      0 0 0 rgb(0, 200, 255),
      0 0 5px rgb(0, 200, 255),
      -2px -5px 5px rgb(0, 200, 255),
      4px -10px 10px rgb(0, 200, 255),
  }

  25% {
    text-shadow: 0 3px 20px rgb(34, 0, 255), 0 0 20px rgb(17, 0, 255),
      0 0 20px rgb(0, 94, 255),
      0 0 5px rgb(0, 200, 255),
      -2px -5px 5px rgb(0, 200, 255),
      3px -10px 10px rgb(0, 200, 255),
      -4px -15px 20px rgb(0, 200, 255),
  }

  50% {
    text-shadow: 0 3px 20px rgb(34, 0, 255), 0 0 20px rgb(17, 0, 255),
      0 -5px 10px rgb(0, 94, 255),
      -2px -5px 5px rgb(0, 200, 255),
      3px -10px 10px rgb(0, 200, 255),
      -4px -15px 20px rgb(0, 200, 255),
      2px -20px 30px rgba(0, 255, 255, 0.5);
  }

  75% {
    text-shadow: 0 3px 20px rgb(34, 0, 255), 0 0 20px rgb(17, 0, 255),
      0 -5px 10px rgb(0, 94, 255),
      3px -5px 5px rgb(0, 200, 255),
      -4px -10px 10px rgb(0, 200, 255),
      2px -20px 30px rgba(0, 255, 255, 0.5) 0px -25px 40px rgba(255, 255, 0, 0)
  }

  100% {
    text-shadow: 0 3px 20px rgb(34, 0, 255), 0 0 20px rgb(17, 0, 255),
      0 0 10px rgb(0, 94, 255),
      0 0 0 rgb(0, 200, 255),
      0 0 5px rgb(0, 200, 255),
      -2px -5px 5px rgb(0, 200, 255),
      4px -10px 10px rgb(0, 200, 255),
  }
}

